.custom-box-shadow {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  }

.bg-custom-grey{
    background: #6750A414;
}

.bg-custom-blue{
  background: linear-gradient(125.93deg, #000099 14.79%, #004EA8 93.8%);
}