.custom-border-morejobs{
    border-bottom : 1px solid #888888;
}

.custom-button-morejobs{
    background: linear-gradient(125.93deg, #000099 14.79%, #004EA8 93.8%);
    color: white;
    border-radius: 6px;
}